.sina-nav
{
	background:#4255A4 !important;
}
.sina-nav .container
{
	background:#4255A4 !important;
}
.banner-top
{
	background: linear-gradient(to bottom, #4255A4,#C86FFF);
	height: 200px;
	position: relative;
}
.banner-top h4
{
	position: absolute;
	margin-top: 150px;
	margin-left: 10px;
	font-weight: 600;
	color: #fff;
}
.btn-block
{
	border: 1px solid #6e7697;
	background-color: #fff;
	color: #4255A4;
}
.btn-block:hover
{
	background-color: #FF9F67;
	color: #fff;
	text-decoration: none;
}
p
{
	color: #6e7697;
}
a
{
	text-decoration: none;
	color: #4255A4;
}
.form-control
{
	border: 1px solid #6e7697;
}
.card .fa-stack
{
	padding: 0 52px;
}
.fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
	transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.fa-stack:hover .fa-stack-2x {
    color: #C86FFF;
}
.divider-text {
position: relative;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.divider-text span {
padding: 7px;
font-size: 12px;
position: relative;   
z-index: 2;
}

.divider-text:after {
content: "";
position: absolute;
width: 100%;
border-bottom: 1px solid #ddd;
top: 55%;
left: 0;
z-index: 1;
}

.form-group small
{
	color: #e74c3c;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.btn-facebook
{
	background:#3B5998!important;
	color: #fff!important;
}
.btn-google
{
		background:#DD4B39!important;
	color: #fff!important;

}




/**********************/
/*     16. Footer     */
/**********************/
.footer {
	padding-top: 4.625rem;
	padding-bottom: 0.5rem;
	background: #4255a4;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}
.footer .footer-col p,h4
{
	color:#fff;
}
.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #00bfd8;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: transparent;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #C86FFF;
}
.footer .media-body
{
	color: #fff;
}
a:hover {
	color: #626262;
	text-decoration: underline;
}
a.turquoise {
	color: #00bfd8;
}


/*************************/
/*     17. Copyright     */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.375rem;
	text-align: center;
	background: #4255a4;
}

.copyright .p-small {
	padding-top: 1.375rem;
	border-top: 1px solid #c4d8dc;
	opacity: 0.7;
	color: #fff;
}
.copyright a
{
	color: #C86FFF;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}
.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}
.card {
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    color: #bcd0f7;
}

