/* Popular Courses */
.m-b30
{
  margin-bottom: 30px;
}
.cours-bx .action-box img{
  width: 100%;
  height: auto;
}
.action-box
{
  overflow: hidden;
  position: relative;
}
.cours-bx .info-bx{
	padding:15px;
	font-size: 13px;
}
.cours-bx .action-box .btn{
	border-radius: 0;
	position: absolute;
	bottom: 0;
	left: -50%;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

.cours-bx:hover .action-box .btn{
	left: 0;
}
.cours-bx:hover .action-box .btn1{
	bottom: 40px;
}
.cours-bx{
	box-shadow:0 0 25px 0 rgba(29,25,0,0.25);
	border-radius: 4px;
    overflow: hidden;
}
.cours-more-info{
	border-top: 1px solid #e6e6e6;
	display: flex;
	margin: 0;
}
.cours-star{
	margin:0;
	padding:0;
}
.cours-star li{
	display: inline-block;
	list-style:none;
	color:#d1d1d1;
	font-size:13px;
}
.cours-star li.active{
	color:var(--primary);
}
.cours-more-info .price,
.cours-more-info .review{
	width:50%;
	padding:5px 15px;
}
.cours-more-info .review span{
	font-size:12px;
	color:#3c3c3c;
}
.cours-more-info .price del{
	font-size:12px;
	font-weight:500;
	color:#8e8e8e;
}
.cours-more-info .review{
	border-right: 1px solid #e6e6e6;
}
.cours-more-info .price {
	text-align:right;
}
.cours-more-info .price h5{
	margin-bottom:0;
}

.media-effect img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.25s;
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
}
/* course detail bx */
.course-detail-bx{
	padding:10px;
	border:1px solid rgba(0,0,0,0.1);
	position: sticky;
	top: 100px;
	background-color: #fff;
}
.course-price{
	text-align:center;
	padding: 10px 0 20px;
}
.course-price .price,
.course-price del{
	display:inline-block;
}
.course-price .price{
	font-size:35px;
	margin:0;
}
.teacher-info{
	display:flex;
	align-items: center;
}
.course-price del{
	margin: 0;
}
.teacher-bx{
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px 20px;
	margin: 20px -20px 0;
	border-width: 1px 0 1px 0;
}
.teacher-name h5{
	font-size:16px;
	margin-bottom: 0;
	line-height: 18px;
	font-weight:400;
	color:#000;
}
.teacher-thumb{
	width:55px;
	height:55px;
	overflow:hidden;
	border-radius:55px;
	margin-right:15px;
}
.teacher-thumb img{
	border-style: none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.teacher-name span{
	font-size:13px;
	color:#6a6a6a;
}
.course-detail-bx .cours-more-info .price span {
    font-size: 12px;
    color: #3c3c3c;
}
.course-detail-bx .cours-more-info .price h5{
	font-size:16px;
	font-weight:400;
}
.course-detail-bx .cours-more-info {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    margin: 0;
    border-top: 0;
	margin: 0 -20px;
}
.course-detail-bx .cours-more-info .price, .cours-more-info .review {
    padding: 8px 20px;
}
.course-info-list{
	padding-top:20px;
	margin:0 -20px;
}
.course-info-list ul{
	
	list-style:none;
	margin: 10px;	
	padding: 0;
}
.course-info-list ul li{
	display: block;
	width: 100%;
}
.course-info-list ul li a{
	padding: 8px 20px;
	font-size: 15px;
	color: #808080;
	display: flex;
	align-items: center;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.course-info-list ul li a.active,
.course-info-list ul li a:hover{
	color:#fff;
	background: var(--primary);
}
.course-info-list ul li a i{
	margin-right:10px;
	font-size:20px;
}
.courses-post .post-title{
	font-size:35px;
	font-weight:500;
}
.course-features{
	margin:0;
	margin-bottom: 30px;
	padding:0;
	list-style:none;
	position:sticky;
	top:80px;
}
.course-features li{
	padding:15px 20px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	display:flex;
	font-size:14px;
	align-items: center;
}
.course-features li i{
	margin-right:10px;
	font-size:16px;
	color:var(--primary);
}
.course-features li .label{
	width:60%;
}
.course-features li .value{
	width:40%;
}
.curriculum-list ul li,
.curriculum-list{
	margin:0;
	padding:0;
	list-style:none;
}
.curriculum-list ul li{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 20px;
	font-size: 15px;
}
.curriculum-list > li{
	margin-bottom:30px;
}
.curriculum-list h5{
	font-size: 14px;
	font-weight: 500;
	color:var(--primary);
	margin-bottom: 0px;
	text-transform: uppercase;
}
.instructor-bx{
	display:flex;
	align-items: start;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 20px 20px;
	margin-bottom:30px;
}
.instructor-author{
	width: 85px;
	height: 85px;
	overflow: hidden;
	border-radius: 55px;
	margin-right: 15px;
	min-width: 85px;
}
.instructor-bx .m-tb10
{
	display: flex;
}
.instructor-info h6{
	margin-bottom:0;
}
.instructor-info p,
.instructor-info span{
	font-size:14px;
	line-height:22px;
}
.review-bx {
	display: flex;
	align-items: center;
	padding: 20px 20px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 30px;
}
.all-review{
	width: 25%;
	text-align: center;
	margin-right: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px 10px;
}
.all-review .rating-type{
	margin:0;
	font-size: 35px;
	line-height: 40px;
}
.all-review span{
	font-size:14px;
}
.review-bar{
	width:75%;
}
.bar-bx {
    display: flex;
    width: 100%;
    align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: #000;
}
.bar-bx .middle{
	width:80%;
}
.bar-bx .side{
	width:10%;
}
.bar-bx .side.right{
	text-align:right;
}
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.bar-container [class*="bar"]{
	height:8px;
	background:var(--primary);
}
